<div class="characters-container">
  <!-- Campo de busca -->
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Buscar personagem</mat-label>
    <input
      matInput
      type="text"
      placeholder="Digite o nome"
      (input)="onSearch($event)"
    />
  </mat-form-field>

  <!-- Loader -->
  <div *ngIf="store.loading(); else listTemplate" class="loading-center">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Lista de personagens -->
  <ng-template #listTemplate>
    <div class="characters-grid">
      <mat-card *ngFor="let c of store.filtered()" class="character-card text-center">
        <div class="avatar-wrapper">
          <img [src]="c.image" [alt]="c.name" class="avatar" />
        </div>
        <mat-card-content>
          <h5 class="fw-bold mt-3 mb-1">{{ c.name }}</h5>
          <p class="text-muted small mb-0">{{ c.species }} — {{ c.status }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>


  <!-- Paginador fixo -->
  <mat-paginator
    [length]="store.totalItems()"
    [pageSize]="store.pageSize"
    [pageIndex]="store.page() - 1"
    [pageSizeOptions]="[store.pageSize]"
    showFirstLastButtons
    (page)="store.loadPage($event.pageIndex + 1)"
    class="paginator-fixed"
  ></mat-paginator>
