<h2 mat-dialog-title class="fw-bold mb-2">Criar Novo Personagem</h2>

<form [formGroup]="form" (ngSubmit)="save()" class="create-form">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" placeholder="Ex: Rick Sanchez" required />
    <mat-error *ngIf="form.controls.name.invalid && form.controls.name.touched">
      Nome é obrigatório.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option value="Alive">Alive</mat-option>
      <mat-option value="Dead">Dead</mat-option>
      <mat-option value="Unknown">Unknown</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Espécie</mat-label>
    <input matInput formControlName="species" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Gênero</mat-label>
    <mat-select formControlName="gender">
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
      <mat-option value="Genderless">Genderless</mat-option>
      <mat-option value="Unknown">Unknown</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Origem</mat-label>
    <input matInput formControlName="origin" placeholder="Ex: Earth (C-137)" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Localização</mat-label>
    <input matInput formControlName="location" placeholder="Ex: Citadel of Ricks" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>URL da Imagem</mat-label>
    <input matInput formControlName="image" placeholder="https://..." />
  </mat-form-field>

</form>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">Salvar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>
