<mat-dialog-content class="detail-content">
  <button mat-icon-button class="close-btn" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>

  <img [src]="character().image" [alt]="character().name" class="detail-avatar" />

  <h2 class="mat-headline-medium mt-2">{{ character().name }}</h2>

  <mat-list class="info-list">
    <mat-list-item>
      <strong>Status:</strong>&nbsp;{{ character().status }}
    </mat-list-item>
    <mat-list-item>
      <strong>Espécie:</strong>&nbsp;{{ character().species }}
    </mat-list-item>
    <mat-list-item>
      <strong>Gênero:</strong>&nbsp;{{ character().gender }}
    </mat-list-item>
    <mat-list-item>
      <strong>Origem:</strong>&nbsp;{{ character().origin?.name || 'Desconhecida' }}
    </mat-list-item>
    <mat-list-item>
      <strong>Localização:</strong>&nbsp;{{ character().location?.name || 'Desconhecida' }}
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="center" class="detail-actions">
  <button mat-flat-button color="primary" class="action-btn edit" (click)="edit()">
    <mat-icon>edit</mat-icon>
    Editar
  </button>

  <button mat-flat-button color="warn" class="action-btn delete" (click)="delete()">
    <mat-icon>delete</mat-icon>
    Excluir
  </button>
</mat-dialog-actions>

